<!DOCTYPE html>
<html>

<body>
    <h1>Hello {{user}}, Welcome to Asvita</h1>
    <p>You just requested for registeration on Asvita website.</p>
    <p>Your userId is {{userId}}, kindly keep it safe and use for any query.</p>
    <p>Your new password is {{password}}, kindly reset your password.</p>
    <p>You need to verify by clicking <a href="http://localhost:1616/login/validate?token={{activationLink}}" target="_blank">here</a> to accept the term and conditions.</p>
    <p>After accpting, you will be given access to the site </p>
</body>

</html>