<!DOCTYPE html>
<html>

<body>

    <form action="/login" method="POST">
        User Id :<br>
        <input type="text" name="userId" value="Ashtra">
        <br> PWD<br>
        <input type="password" name="pwd" value="ashtra">
        <br>
        <input type="file" name="profileImg" id="profileImg" accept=".jpg">
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <p>If you click the "Submit" button, the form-data will be sent to a page called "/action_page.php".</p>

</body>

</html>